<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"	crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
	<header th:fragment="header" class="sticky-top">
		<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
			<div class="container-fluid">
				<a class="navbar-brand fw-bold" th:href="@{/index}">Dirico</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link fw-bold" th:href="@{/index}">Inicio</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link fw-bold dropdown-toggle" href="#" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">Clientes</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" th:href="@{/Cliente/Listado}">Lista</a></li>
								<li><a class="dropdown-item" th:href="@{/Cliente/Registro}">Registro</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<div class="container">
		<h1 class="text-center">PÁGINA DE INICIO</h1>
		<p>Parrafo agregado en la rama diseño</p>
	</div>

	<footer th:fragment="footer"
		class="fixed-bottom bg-dark text-light text-center py-3">
		2022 - Todos los Derechos Reservados :v
		<!-- JavaScript Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
			crossorigin="anonymous"></script>
	</footer>

</body>
</html>